footer {
  margin-top: auto;
  width: 75%;
  margin-bottom: 2%;
}
.Volgende {
  text-decoration: none;
  float: right;
}
.Volgende {
  font-family: "EestiRegular", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #ec5c37;
  border: none;
  padding: 2% 3%;
}
.Volgende:active {
  color: #ec5c37;
  background-color: white;
}
.Vorige {
  text-decoration: none;
  float: left;
}
.Vorige {
  font-family: "EestiRegular", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #ec5c37;
  border: none;
  padding: 4% 4%;
}
.Vorige:active {
  color: #ec5c37;
  background-color: white;
}

#Indienen {
  background-color: #ffe375;
  color: #2b254c;
}
#Indienen:active {
  background-color: #2b254c;
  color: #ffe375;
}
