footer {
  margin-top: auto;
  width: 75%;
  margin-bottom: 6%;
}

.btn-next {
  text-decoration: none;
  float: right;
  display: inline-block;
  font-family: "EestiRegular", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #ec5c37;
  border: none;
  padding: 4% 4%;
}

.btn-next:active {
  color: #ec5c37;
  background-color: white;
}

.btn-prev {
  text-decoration: none;
  float: left;
  display: inline-block;
  font-family: "EestiRegular", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #ec5c37;
  border: none;
  padding: 4% 4%;
}

.btn-prev:active {
  color: #ec5c37;
  background-color: white;
}

#submit-button {
  background-color: #ffe375;
  color: #2b254c;
}

#submit-button:active {
  background-color: #2b254c;
  color: #ffe375;
}

@media (min-width: 48em) {
  footer {
    margin-top: auto;
    width: 75%;
    margin-bottom: 2%;
  }

  .btn-next {
    padding: 2% 3%;
  }

  .btn-prev {
    padding: 2% 3%;
  }
}
