* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "EestiUltraBold";
  src: url("../fonts/GT-Eesti-Display-Ultra-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "EestiRegular";
  src: url("../fonts/GT-Eesti-Display-Regular.ttf") format("truetype");
}
@media (max-width: 48em) {
  body {
    background-color: #2b254c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    position: relative;
    overflow-x: hidden;
  }
  b {
    color: #ffe375;
  }
  .deco {
    position: absolute;
    bottom: 50;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    top: 73%;
    width: 70%;
    pointer-events: none;
    z-index: -1;
  }
  #decoGegevens {
    width: 80%;
    left: 35%;
    top: 75%;
  }
  #decoVerzonden {
    width: 80%;
    top: 20%;
  }
  header > h1 {
    margin-left: 10%;
  }
}

@media (min-width: 48em) {
  body {
    background-color: #2b254c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  b {
    color: #ffe375;
  }
  .deco {
    position: absolute;
    bottom: 50;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    width: 40%;
    pointer-events: none;
    z-index: -1;
  }
  #decoGegevens {
    width: 80%;
    left: 35%;
    top: 75%;
  }
  #decoVerzonden {
    width: 80%;
    top: 20%;
  }
  header > h1 {
    margin-left: 10%;
  }
}
