@media (max-width: 48em) {
  nav {
    margin-top: 3vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 86%;
    position: relative;
    padding: 0 7%;
  }

  #backArrow {
    width: 10%;
  }

  #backArrow > img {
    width: 100%;
  }

  #logo {
    top: 0;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #logo > img {
    width: 100%;
  }

  .language-toggle {
    display: flex;
    align-items: center;
    background-color: #ffe375;
    border-radius: 8px;
    height: 28px;
    cursor: pointer;
    position: relative;
    width: 18%;
  }

  .language-toggle input {
    display: none;
  }

  .language-slider {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #e8501a;
    border-radius: 8px;
    left: 0;
    transition: left 0.5s ease;
  }

  .language-toggle input:checked ~ .language-slider {
    left: 50%;
  }

  .language-nl,
  .language-fr {
    position: relative;
    z-index: 1;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    color: #2b254c;
    font-family: "EestiRegular", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .language-nl.active,
  .language-fr.active {
    color: white;
  }

  .step-nav {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
  }
}

@media (min-width: 48em) {
  nav {
    margin-top: 5vh;
    margin-bottom: 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 74%;
    position: relative;
    padding: 0;
    margin-left: 8%;
    margin-right: 8%;
  }

  #backArrow {
    width: 4%;
  }

  #backArrow > img {
    width: 100%;
  }

  #logo {
    top: 0;
    width: 15%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #logo > img {
    width: 100%;
  }

  .language-toggle {
    display: flex;
    align-items: center;
    background-color: #ffe375;
    border-radius: 8px;
    height: 28px;
    cursor: pointer;
    position: relative;
    width: 7%;
  }

  .language-toggle input {
    display: none;
  }

  .language-slider {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #e8501a;
    border-radius: 8px;
    left: 0;
    transition: left 0.5s ease;
  }

  .language-toggle input:checked ~ .language-slider {
    left: 50%;
  }

  .language-nl,
  .language-fr {
    position: relative;
    z-index: 1;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    color: #2b254c;
    font-family: "EestiRegular", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .language-nl.active,
  .language-fr.active {
    color: white;
  }

  .step-nav {
    width: 14vw;
    margin-top: 5%;
    margin-left: 40.5%;
    margin-right: 40.5%;
  }
}
