@import url("navigation.css");
@import url("mainparts.css");
@import url("footer.css");
@import url("verzonden.css");
@import url("gegevens.css");
* {
  margin: 0;
  padding: 0;
}

/*--------FONTS--------*/
/*
font-family: "segoe-ui", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "segoe-ui", sans-serif;
font-weight: 600;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 600;
font-style: italic;

font-family: "segoe-ui", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 700;
font-style: italic;

font-family: "segoe-ui", sans-serif;
font-weight: 900;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 900;
font-style: italic;

*/

@media (max-width: 48em) {
  h1 {
    font-family: "segoe-ui", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 29px;
    color: white;
    text-align: center;
  }

  h2 {
    font-family: "segoe-ui", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #ec5c37;
    text-align: center;
  }

  header {
    width: 100%;
  }
  #HomeExtraTitel {
    font-size: 65px;
    line-height: 50px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
  }
  .breakLine {
    width: 34%;
    height: 3px;
    border-radius: 1px;
    background-color: #ffe375;
  }
  b {
    color: #ffe375;
  }
  body {
    background-color: #2b254c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }
  /*INPUTS*/
  input[type="text"],
  input[type="text"]:focus {
    box-sizing: border-box;
    background-color: #ffffff;
    color: #2b254c;

    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 1% 2%;
    font-family: "segoe-ui", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  input[type="text"]::placeholder {
    color: #2b254c;
    opacity: 1;
  }
  button {
    font-family: "segoe-ui", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    background-color: #ec5c37;
    border: none;
    padding: 1% 4%;
  }
  button:active {
    color: #ec5c37;
    background-color: white;
  }
  .PageNav {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
  }
}
