@import url("navigation.css");

* {
  margin: 0;
  padding: 0;
}

/*--------FONTS--------*/
/*
font-family: "segoe-ui", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "segoe-ui", sans-serif;
font-weight: 600;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 600;
font-style: italic;

font-family: "segoe-ui", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 700;
font-style: italic;

font-family: "segoe-ui", sans-serif;
font-weight: 900;
font-style: normal;

font-family: "segoe-ui", sans-serif;
font-weight: 900;
font-style: italic;

*/

@media (max-width: 48em) {
  h1 {
    font-family: "segoe-ui", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 29px;
    color: white;
    text-align: center;
  }
  #HomeExtraTitel {
    font-size: 65px;
    line-height: 50px;
    margin-left: 5%;
    margin-top: 10%;
    text-align: left;
  }
  .breakLine {
    display: inline-block;
    width: 34%;
    height: 3px;
    border-radius: 1px;
    background-color: #ffe375;
    margin-left: 33%;
    margin-right: 33%;

    margin-top: 10%;
  }
  b {
    color: #ffe375;
  }
  body {
    background-color: #2b254c;
  }
}
