@media (max-width: 48em) {
  #verzondenSection {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #verzondenTitel {
    margin: 0;
    text-align: center;
    line-height: 40px;
  }
  #keerTerug {
    padding: 4% 4%;
  }
  #keerTerug {
    margin-top: 20px;
  }

  #keerTerug {
    text-decoration: none;
    float: right;
  }
  #keerTerug {
    font-family: "EestiRegular", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    background-color: #ec5c37;
    border: none;
  }
  #keerTerug:active {
    color: #ec5c37;
    background-color: white;
  }
}

@media (min-width: 48em) {
  .deco {
    display: none;
  }

  #bodyVerzenden {
    height: 100vh;
  }

  #verzondenSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 8vh;
    margin-bottom: 14vh;
  }

  .titel {
    font-size: 50px;
    line-height: 60px;
  }

  #keerTerug {
    margin-top: 20px;
  }

  #keerTerug {
    text-decoration: none;
    float: right;
  }
  #keerTerug {
    font-family: "EestiRegular", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    background-color: #ec5c37;
    border: none;
    padding: 2% 3%;
  }
  #keerTerug:active {
    color: #ec5c37;
    background-color: white;
  }
}
